body {
    color: #333;
    font-family: Helvetica;
}

th {
    padding-right: 20px;
    text-align: left;
}

td {
    border-bottom: 1px dotted #666;
    padding-right: 10px;
    line-height: 1.6em;
}

#map {
    height:450px;
    width: 500px;
    float: left;
    margin-right: 20px;
}
