<!DOCTYPE html>
<html>
<head>
    <title>LEAP progress report</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <link rel="stylesheet" href="css/app.css" />

</head>
<body>
  <div id="map"></div>
  <div id="data"></div>
  <script type="text/template" id="counts-template">
    <h2>LEAP Survey Progress Tracker</h2>

    <table>
      <tr>
        <th>Area type</th>
        <th>Completed</th>
        <th>Needed</th>
      </tr>
      <% _.each(areas, function(area, name) {%>
        <tr>
          <td><%= area.name %></td>
          <td><%= area.count %></td>
          <td><%= area.target %></td>
        </tr>
      <% }); %>
    </table>
  </script>

  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

  <script type="text/javascript">
  var data = {};
  </script>

  <script src="data/gv.geojson"></script>
  <script src="data/ind.geojson"></script>
  <script src="data/ins.geojson"></script>
  <script src="data/na.geojson"></script>
  <script src="data/NAUH.geojson"></script>
  <script src="data/SH.geojson"></script>
  <script src="data/SR.geojson"></script>
  <script src="data/SRTR.geojson"></script>
  <script src="data/TR.geojson"></script>
  <script src="data/TRUH.geojson"></script>
  <script src="data/UH.geojson"></script>
  <script src="data/VH.geojson"></script>


  <script type="text/javascript">
    var url = 'https://app.localdata.com/api/surveys/788015f0-c0c4-11e3-906d-a3595d61b555/stats';
    var counts = {
      'gv': {
        'count': 0,
        'name': 'Green Venture',
        'target': 53
      },
      'ind': {
        'count': 0,
        'name': 'Industrial',
        'target': 2
      },
      'ins': {
        'count': 0,
        'name': 'Institutional',
        'target': 3
      },
      'na': {
        'count': 0,
        'name': 'Naturescape',
        'target': 63
      },
      'nauh': {
        'count': 0,
        'name': 'Naturescape / Urban Homestead',
        'target': 18
      },
      'sh': {
        'count': 0,
        'name': 'Shopping hub',
        'target': 2
      },
      'sr': {
        'count': 0,
        'name': 'Spacious Residential',
        'target': 205
      },
      'srtr': {
        'count': 0,
        'name': 'Spacious or Traditional Residential',
        'target': 8
      },
      'tr': {
        'count': 0,
        'name': 'Traditional Residential',
        'target': 99
      },
      'truh': {
        'count': 0,
        'name': 'Traditional Residential/Urban Homestead',
        'target': 1
      },
      'uh': {
        'count': 0,
        'name': 'Urban Homestead',
        'target': 71
      },
      'vh': {
        'count': 0,
        'name': 'Village Hub',
        'target': 1
      }
    };
    console.log(data);
    var template = _.template($('#counts-template').html());


    var getdata = function(polygon, name) {
      var query = url + '?intersects=' + encodeURIComponent(JSON.stringify(polygon));
      $.ajax({
        url: query
      }).done(function(data){
        //console.log(data);

        _.each(data.stats.Collectors, function(v, k){
          counts[name].count += v;
          console.log(name, v);
          $('#data').html(template({
            areas: counts
          }));


        });
        console.log("WORKS!", name, polygon);

      }).fail(function(error) {
        console.log("ERROR!", name);
        console.log("ERROR!", query);
        console.log("ERROR!", polygon);
        console.log("ERROR!", error);
      });
    };

    // Set up map
    var map = L.map('map').setView([ 42.37452473019751, -82.98248291015625], 13);
    var baseLayer = L.tileLayer('http://a.tiles.mapbox.com/v3/matth.map-zmpggdzn/{z}/{x}/{y}.png');
    map.addLayer(baseLayer);

    // Zone styles
    var styles = {
      color: '#58aeff',
      fillColor: '#daedff',
      weight: 2
    };

    // Go through each zone
    _.each(data, function(v, k) {
      console.log(k, v);

      // Go over each feature
      _.each(v.features, function(feature) {
        // Try just the polygons:
        // getdata(feature.geometry, k);
        L.geoJson(feature, styles).addTo(map).bindPopup(counts[k].name);

        // Go over each multipolygon
        _.each(feature.geometry.coordinates, function(shape) {
          if (shape.length !== 1) {
            shape = [shape];
          }

          var polygon = {
            type: 'Polygon',
            coordinates: shape
          };
          getdata(polygon, k);
          console.log(polygon);
        });
      });
    });

    // Ad data layer to the map
    var dataLayer = L.tileLayer('https://localdata-tiles.herokuapp.com/788015f0-c0c4-11e3-906d-a3595d61b555/tiles/{z}/{x}/{y}.png');
    map.addLayer(dataLayer);
  </script>


</body>
</html>
